td{
    border: 1px solid black;
}
ol > li{
    width: 300px;
    background-color: chartreuse;
    border: 1px solid olivedrab;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
}
ol > li > form{
    width: 290px;
    padding: 5px;
    background-color: grey;
    display: none;
    position: fixed;
    cursor: default;
}
ol > li:hover{
    background-color: grey;
}
ol > li:hover > form{
    display: block;
}
